html, body {
  width: 400px;
  aspect-ratio: 1/2;
  scrollbar-width: none;
}


.hidden {
  display: none;
}

.p-pharec {
  text-align: center;
  margin: 3% auto;
  font-size: 1.3em;
}

.captured-img {
  margin-top: 2%;
  text-align: center;
  max-width: 100%;
  max-height: 100vw;
}

body img {
  padding-top: 3%;
  width: 90%
}

.pharec-pred {
  text-align: center;
  margin: 3% auto;
  font-size: 0.8em;
  padding: 2%;
}


.button {
  /*margin: 3% auto;*/
  margin-right: 18%;
  margin-left: 18%;
  margin-bottom: 3%;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
}


.runCapture {
  color: white;
  background-color: #23537E;
}

.runCapture:hover {
  color: white;
  background-color: #333353;
}

.reset {
  background-color: #BBCBEE;
}

.reset:hover {
  background-color: #4B5B6E;
  /*background-color: #AA5A7D;*/
}

