html, body {
  width: 400px;
  height: 800px;
  /*aspect-ratio: 1/2;*/
  /*scrollbar-width: none;*/
  overflow: hidden;
}


.hidden {
  display: none;
}

.output {
  text-align: center;
}

.pharec-pred {
  display: inline-block;
  text-align: center;
  margin: 3% auto;
  /*font-size: 0.9em;*/
  padding: 4%;
}


.p-pharec {
  text-align: center;
  margin: 3% auto;
  font-size: 0.85em;
}

.h-pharec {
  text-align: center;
  margin: 3% auto;
  font-size: 1em;
}

.captured-img {
  margin-top: 1%;
  text-align: center;
  max-width: 100%;
  height: 40%;
}

body img {
  padding-top: 3%;
  width: 90%;
  max-height: 50%;
}


.button {
  /*margin: 3% auto;*/
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 2%;
  padding: 12px;
  text-align: center;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 3px;
}


.runCapture {
  color: white;
  background-color: #23537E;
}

.runCapture:hover {
  color: white;
  background-color: #333353;
}

.reset {
  background-color: #BBCBEE;
}

.reset:hover {
  background-color: #4B5B6E;
  /*background-color: #AA5A7D;*/
}

